{% extends 'teacher/teacherbase.html' %} {% load widget_tweaks %} {% block content %}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>a:link {
            text-decoration: none;
        }
    </style>
</head>
<h2 style="text-align:center; ">Add Study Material</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="form-group">
        <label for="blog_tittle">Study Material Tittle</label> {% render_field courseForm.material_tittle class="form-control" placeholder="Example: Databases Subject Notes" %}

        <label for="blog_img">Select File</label> {% render_field courseForm.material_file class="form-control" %}

        <label for="blog_description">Study Material Description</label> {% render_field courseForm.material_description class="form-control" height=500px %}

    </div>


    <button type="submit" class="btn btn-success" style="border-radius: 0%;">Submit Info</button>
</form>
<br><br><br> {% endblock content %}